@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');
@media screen and (max-width: 900px) {
  html{
    
      overflow-y: hidden !important;
      overflow-x: hidden !important;
    
  }
  h1{
    font-size: 40px !important ;
    color:#21c03c !important;
    margin-bottom: 20px;
  }
  ul li {
    position: relative;
    list-style: none; 
    width: 50px !important;
    height: 50px !important;
    margin: 0px 23px !important;
    
   
  }

  .text{
    margin-bottom: 70px !important;
  }
  .decode-text {
    width: 400px !important;
    font-size: 20px !important;
    text-align: center !important;
    margin-left: 73px !important;
    margin-bottom: 75px !important;
    position: absolute;
    bottom: 370px;

    
    
  }
  .space {
    display: inline-block;
    width: 10px;
  }
  .text-animation.state-3 {
    color: white;
  }
  .text-animation:before {
 
    
    background: linear-gradient(90deg, #fda582, #000, #fda582) !important;
    
  }
  
  
  #SocialMedia{
    width: 550px !important;
    
  }
  .social{
    margin-right: 120px;
  }
}


html { 
  overflow-y: hidden !important;
  overflow-x: hidden !important;
 
  
  
  -webkit-overflow-scrolling: auto;
}

 

body{
  font-family: 'Roboto Mono', monospace;
  
  
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  position: absolute;
  background: url(MARS.jpg) no-repeat center center fixed; 
  
  

  
  width: 100%;
  height: 100%;
  top: 7%;
  left: 0px;
  content: '';
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
 ul {
   position: relative;
   display: flex;
   transform: rotate(-0deg) skew(5deg);
   transform-style: preserve-3d;
  
}
ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0px 25px;
 
}
ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}
ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
ul li:nth-child(1):hover span{
  background: rgb(175, 172, 172) !important;
}
ul li:nth-child(2):hover span{
  background: #1DB954 !important;
}
ul li:nth-child(3):hover span{
  background: rgba(228,64,95,1) !important;
}
ul li:nth-child(4):hover span{
  background: #2867B2 !important;
}
ul li:nth-child(5):hover span{
  background: #a00404 !important;
}

#SocialMedia{
    width: 600px;
    height: 70px;
    
   
    
}
.social{
    position: relative;
    top: 100%;
    left: 65px;
}
#textBody {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}






.text {
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #fda582;
}
.dud {
  color: #fda582;
}



.decode-text {
  width: 100%;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  
}
.space {
  display: inline-block;
  width: 10px;
}
.text-animation {
  display: inline-block;
  position: relative;
  color: transparent;
  text-transform: uppercase;
}
.text-animation:before {
  content: '';
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(90deg, #fda582, #000, #fda582);
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: 0.9em;
}
.text-animation.state-3 {
  color: white;
}
.text-animation.state-3:before {
  width: 0;
}
#refresh {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.curios{
  width: 300px;
  height: 30px;
  
  margin-top: 130px;
  margin-left: 145px;
}



p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #fd6930, #fff, #fd6930);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

